body {
    background-color: gray;
}

/* SEARCH BAR SECTION */
.hero-search-filter-content {
    display: flex;
    -webkit-justify-content: center;
  }
  
.hero-search-filter-form {
    display: -webkit-flex;
    width: 70%;
    background: gray;

  }
  
.hero-search-filter-form input,
.hero-search-filter-form .button {
    margin-bottom: 0;
  }