body {
  background-color: gray;
}

/* SEARCH BAR SECTION */
.hero-search-filter-content {
  display: flex;
  -webkit-justify-content: center;
}

.hero-search-filter-form {
  display: -webkit-flex;
  width: 70%;
  background: gray;

}

.hero-search-filter-form input,
.hero-search-filter-form .button {
  margin-bottom: 0;
}

.navbar-logo {
  width: 95px;
  height: 50px;
}
/* MODAL BOX */
.modal-box {
  width: 55%;
  height: 80%;
  background: rgb(166, 175, 195);
  border-radius: 5px;
  opacity: 0; /* needs to be set to 0 to pop up */
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2),
              0px 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.3s ease;
  font-family: monospace;

}
.modal-box .quit {
  padding: 5px;
}
.modal-box.quit:hover {
  cursor: pointer;
}
.activeInfo{
  z-index: 5;
  opacity: 1;
  pointer-events: auto;

}

/* MODAL DETAILS */

.result-container {
  display: grid;
  padding: 10px;
}

.search-image  {
  padding: 15px;
}

.search-name {
text-align: center;
font-weight: bold;
font-size: 30px;
position: absolute;
top: 0;
left: 30%;
}

.search-summary p {
  padding: 10px;
position: absolute;
top: 10%;
left: 29%;
}

.search-website {
    color: rgb(255, 255, 255); 
    font-size: 16px; 
    line-height: 16px; 
    padding: 6px; 
    border-radius: 10px; 
   background-color: rgb(152, 116, 158);
   position: relative;
top: 218px;
left: -21%;
   
}

.save-button {
  color: rgb(255, 255, 255); 
  font-size: 16px; 
  line-height: 16px; 
  padding: 6px; 
  border-radius: 10px; 
 background-color: rgb(152, 116, 158);
}


.rating-container {
  color: rgb(255, 255, 255); 
  font-size: 16px; 
  line-height: 16px; 
  padding: 6px; 
  border-radius: 10px; 
 position: relative;
bottom: -40%;
}

/* SCROLL BAR FOR IMG RESULT */
#resultsList {
  display: flex;
  overflow-x: auto;
}
#resultsList img {
  width:300px;
  transition: 250ms all;
}
#resultsList img:hover{
  margin-left: 0 40px;
  transform: scale(1.1);
  cursor: pointer;
}

@media only screen and (max-width: 980px) {

  .modal-box {
    width: 70%;
    height: 80%;
  }
  
  .search-name {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 45%;
    }
    
    .search-summary p {
      padding: 10px;
    position: absolute;
    top: 5%;
    left: 45%;
    }

    .rating-container {
      font-size: 12px; 
    }
}


@media only screen and (max-width: 768px) {
  .search-website {
    top: 218px;
    left: -35%;
  }

  .rating-source {
    font-size: 5px; 
    opacity: 0;
  }

  .search-name {
    font-size: 15px;
  }

  .search-summary p {
    font-size: 80%;
  }
  
}

@media only screen and (max-width: 619px) {

.modal-box {
  
}

.search-image {
width: 47%;
}

.search-website {
  top: 180px;
  left: -34%;
}

.modal-box {
  height: auto;
}

.search-summary p {
 font-size: 9px;

}
}

